.profile__add-button {
    background-color: #000;
    width: 150px;
    height: 50px;
    border: solid 2px rgba(255, 255, 255, 1);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media screen and (max-width: 573px) {
    .profile__add-button {
        width: 282px;
    }
}