.popup__error {
    display: none;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #ff0000;
    margin-top: -25px;
    margin-bottom: 10px;
    text-align: start;
}