.popup__close-button {
    position: relative;
    top: -361px;
    right: -239px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 3;
}

@media screen and (max-width: 515px) {
    .popup__close-button {
        top: -333px;
        right: -130px;
    }
}