.popup__save-button {
    border: none;
    border-radius: 2px;
    background-color: #000;
    width: 100%;
    align-items: center;
    color: #fff;
    font-size: 18px;
    line-height: 49px;
    cursor: pointer;
}

@media screen and (max-width: 515px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 44px;
    }
}